*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: lightblue;
}
.wrap{
    width: 800px;
    height: 800px;
    margin: auto;
}
.result_upload{
    text-align: center;
    padding-top: 10px;
}